<style>
  
  body {
    background-color: <%= @color %>;
  }
  
</style>

<a href="/pictures/new">Input a new picture</a>
<%= link_to "Add Picture", "/pictures/new"%>

<p>
  Here are some of my favorite photos
</p>

<ul>
<% @pictures.each do |p| %>
  <li>
  <!-- <a href="/pictures/<%=p.id%>"><img style="border: thick <%= @color %> solid" src="<%= p.url %>" width="<%= @width %>"></a> -->
  
  
  <%= link_to image_tag(p.url, :border=>"thick blue solid", :width=>@width), "pictures/#{p.id}" %>
  
  <p><%= p.title %><p>
  
  <%= link_to "Edit Picture", "/pictures/edit/#{p.id}"%>


  <%= link_to "Delete this picture", "/pictures/delete/#{p.id}" %>
  
  </li>
<% end %>
</ul>

